*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
}

:root {
  --orange: #dcbf64;
  --white: #fff;
  --halfway: #eedfb2;
  --light-yellow: #ffffe6;
}

.container {
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.privacy,
.terms {
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.terms .text,
.privacy .text {
  margin: 1rem 0;
  font-size: 1.8rem;
  color: #574b25;
  text-align: start;
}
.terms ul,
.privacy ul {
  margin-left: 4rem;
}
.terms a,
.privacy a {
  color: #574b25;
  font-weight: bold;
}

.privacy .sub-heading,
.privacy .sub-heading2,
.privacy .sub-heading3 {
  justify-self: center;
  align-self: center;
  text-align: center;
}
.terms .sub-heading,
.terms .sub-heading2,
.terms .sub-heading3 {
  justify-self: center;
  align-self: center;
  text-align: center;
}

.sub-heading2 {
  font-size: 2.2rem;
  font-weight: bold;
}
.sub-heading3 {
  font-size: 2rem;
  font-weight: bold;
}

footer {
  padding: 2rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-weight: bold;
}

.bg-orange {
  background-color: var(--orange) !important;
}

.section {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--light-yellow);
}

.remove-pb {
  padding-bottom: 0 !important;
}

.bg-halfway {
  background-color: var(--halfway);
}

header {
  background-color: var(--orange);
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
  overflow: hidden;
}

.curved {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

header p:nth-child(2) {
  font-size: 2.8rem;
  font-weight: bold;
  margin-top: 1rem;
}
header p:nth-child(3) {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo {
  width: 7rem;
  height: 7rem;
}

.sub-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
}

.text-orange {
  color: var(--orange);
}

.images {
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 622px;
  width: 700px;
}

@media only screen and (max-width: 750px) {
  .images {
    height: 80vw;
    width: 90vw;
  }
}

.img-contanier {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img-contanier img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.download-app-icon {
  width: 4rem;
  height: 4rem;
}

.download-app {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1.6rem;
  text-align: center;
  max-width: 100rem;
  margin: 2rem 0;
  color: var(--orange);
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

.download-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
  text-align: center;
  color: var(--orange);
  font-weight: bold;
  text-decoration: none;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(238, 223, 178, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-content {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  display: block;
}

.close {
  position: absolute;
  top: 2.5%;
  right: 5%;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Modal navigation buttons */
.modal .prev,
.modal .next {
  cursor: pointer;
  width: auto;
  color: #000;
  font-weight: bold;
  transition: 0.3s ease;
  user-select: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 52.5%;
  }

  footer {
    flex-direction: column;
    gap: 1rem;
  }

  nav {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    max-width: 70vw;
    max-height: 70vh;
  }

  .carousel {
    gap: 1.5rem;
  }
}
